version: "3"
services:
  spring-client-app:
    build:
      context: .
      dockerfile: docker/dockerfile-java
    volumes:
       - ./:/code
    working_dir: /code
    command: ["mvn spring-boot:run"]
    environment:
      SERVER_PORT: ${SERVER_PORT:-8082}
      RESOURCE_SERVER: ${RESOURCE_SERVER}
      KEYCLOAK_PROVIDER: ${KEYCLOAK_PROVIDER}
      KEYCLOAK_CLIENT_ID: ${KEYCLOAK_CLIENT_ID}
      KEYCLOUK_CLIENT_SECRET: ${KEYCLOUK_CLIENT_SECRET}
      KEYCLOAK_AUTHORIZATION_URI: ${KEYCLOAK_AUTHORIZATION_URI}
      KEYCLOAK_TOKEN_URI: ${KEYCLOAK_TOKEN_URI}
    ports:
      - "${SERVER_PORT:-8082}:${SERVER_PORT:-8082}"
    networks:
      - internal
      - authentication

networks:
  authentication:
    external: true
  internal:
    external: false
