version: "3"
services:
  node:
    build:
     context: .
     dockerfile: docker/dockerfile-node
    volumes:
       - ./:/code
    working_dir: /code
    command: npm run dev
    environment:
      HOST: 0.0.0.0
      KEYCLOAK_CLIENT_ID: ${KEYCLOAK_CLIENT_ID}
      KEYCLOAK_CALLBACK: ${KEYCLOAK_CALLBACK}
      KEYCLOAK_AUTHORIZATION_URI: ${KEYCLOAK_AUTHORIZATION_URI}
      KEYCLOAK_USERINFO_URI: ${KEYCLOAK_USERINFO_URI}
      RESOURCE_URI: ${RESOURCE_URI}
    ports:
      - "${SERVER_PORT:-3000}:3000"
